<component name="ArtifactManager">
  <artifact name="plugin">
    <output-path>F:\consulo-k-runtime/out/artifacts/plugin</output-path>
    <root id="root">
      <element id="dir-copy" path="$PROJECT_DIR$/dep" />
      <element id="artifact" artifact-name="dist" />
    </root>
  </artifact>
</component>